{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "semi": 0,
    "space-before-function-paren": ["error", "never"],
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/member-delimiter-style": 0
  }
}
